<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.UserInfo">
        <id column="user_id" property="userId" />
        <result column="self_introduction" property="selfIntroduction" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="interest" property="interest" />
        <result column="signature" property="signature" />
        <result column="image_url" property="imageUrl" />
        <result column="username" property="username" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, self_introduction, age, gender, interest, signature, image_url, username, updated_at
    </sql>

</mapper>
